@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #141414;
    --soft_gray: #272727;
    --light_gray: #3d3d3d;
  }
  body {
    @apply bg-black text-white;
  }

  table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid var(--soft_gray);
  }
}
